!!! 5
%html{lang: 'en'}
  %head
    %meta{name: 'robots', content: 'noindex'}
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'Envy is a web consultancy that transforms ideas into successful products.'}

    -# Twitter

    %meta{name: 'twitter:card', content: 'summary'}
    %meta{name: 'twitter:site', content: '@moonshineblooms'}

    -# Open Graph

    %meta{property: 'og:article:publisher', content: 'https://facebook.com/moonshineblooms'}
    %meta{property: 'og:title', content: 'Moonshine Blooms'}
    %meta{property: 'og:type', content: 'article'}
    %meta{property: 'og:url', content: 'http://moonshineblooms.com'}
    %meta{property: 'og:image', content: ''}
    %meta{property: 'og:description', content: ''}
    = yield_content :og

    -# Icons

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/favicon.ico'}
    %link{rel: 'apple-touch-icon', href: '/apple-touch-icon.png'}
    %link{rel: 'canonical', href: 'http://moonshineblooms.com'}

    %title= current_page.data.title
    = stylesheet_link_tag 'application'

  %body
    %main{role: 'main'}= yield
    %script{src: '//use.typekit.net/bmo8yyf.js'}
    :javascript
      try{Typekit.load();}catch(e){}
