---
title: Moonshine Blooms
---

.bg

-# %h1<
-#   %span.salt9> M
-#   oonshi
-#   %span.salt> n
-#   e
-#   %br/
-#   Bloom
-#   %span.salt14> s

.logo= image_tag 'logo-1.png'

.wrap
  %p
    The genera Anthorrhiza, Hydnophytum, Myrmecodia, Myrmephytum, and Squamellaria
    are succulent epiphytes that have evolved a mutualistic relationship with ants.
    Their hypocotyl grows out into an ant-inhabited tuber.[9] Some shrubs or trees
    have ant holes in their stems (e.g. Globulostylis).
  %p
    Some Rubiaceae species have domatia that are inhabited by mites (viz.
    acarodomatia; e.g. Plectroniella armata).
  %p
    An intimate association between bacteria and plants is found in three
    rubiaceous genera (viz. Pavetta, Psychotria, and Sericanthe).[12] The
    presence of endophytic bacteria is visible by eye because of the formation of
    dark spots or nodules in the leaf blades. The endophytes have been identified
    as Burkholderia bacteria. Their function, however, remains enigmatic.
  %p
    A different type of plant-bacteria association is found in the genera Fadogia,
    Fadogiella, Globulostylis, Rytigynia, Vangueria (all belonging to the
    Vanguerieae tribe), where bacteria are found freely distributed among the
    mesophyll cells and no leaf nodules are formed.

.social
  = link_to 'Instagram', 'https://instagram.com/moonshineblooms'
  = link_to 'Facebook'
